!!!  
%html  
  %head  
    %title #{@title}
    %link(rel="stylesheet" href="css/styles.css")  
  %body  
    %h1 Players
    %p  
      Our characters!
    %table
      %th
        Avatar
      %th
        Name
      %th
        Realm
      %th
        Level
      %th
        Info
      %tbody
        - @characters.each do |char|
          %tr
          
            %td
              %img(src="#{char.picture}")
            %td= char.name
            %td= char.realm
            %td= char.level
            %td= char.info
            